$briks-components-generic: (
    flex: (
        enabled: true,
        responsive: true,
        defaults: (
            --gap-0: 0px,
            --gap-1: 10px,
            --gap-2: 20px,
            --gap-3: 30px
        ),
        modifiers: (
            gap-0: (
                gap: var(--gap-0)
            ),
            gap-1: (
                gap: var(--gap-1)
            ),
            gap-2: (
                gap: var(--gap-2)
            ),
            gap-3: (
                gap: var(--gap-3)
            )
        )
    )
);